
nvim/plugged/bufferline.nvim/
nvim/plugged/c.vim/
nvim/plugged/coc.nvim/
nvim/plugged/coq-syntax/
nvim/plugged/Coqtail/
nvim/plugged/dashboard-nvim/
nvim/plugged/delimitMate/
nvim/plugged/fzf.vim/
nvim/plugged/grep.vim/
nvim/plugged/haskell-vim/
nvim/plugged/indentLine/
nvim/plugged/limelight.vim/
nvim/plugged/markdown-preview.nvim/
nvim/plugged/lualine.nvim/
nvim/plugged/nerdtree/
nvim/plugged/nord-vim/
nvim/plugged/nord.nvim/
nvim/plugged/nordic.nvim/
nvim/plugged/vim-misc/
nvim/plugged/vim-json/
nvim/plugged/vim-ipython-cell/
nvim/plugged/vim-hindent/
nvim/plugged/vim-gitgutter/
nvim/plugged/vim-fugitive/
nvim/plugged/vim-devicons/
nvim/plugged/vim-commentary/
nvim/plugged/vim-clap/
nvim/plugged/telescope.nvim/
nvim/plugged/telescope-file-browser.nvim/
nvim/plugged/tagbar/
nvim/plugged/tabular/
nvim/plugged/supertab/
nvim/plugged/nvim-reload/
nvim/plugged/nvim-treesitter/
nvim/plugged/nvim-web-devicons/
nvim/plugged/onedark.nvim/
nvim/plugged/plenary.nvim/
nvim/plugged/popup.nvim/
nvim/plugged/requirements.txt.vim/
nvim/plugged/split-manpage.vim/
nvim/plugged/vim-nerdtree-syntax-highlight/
nvim/plugged/vim-surround/
nvim/plugged/vim-snippets/
nvim/plugged/vim-slime/
nvim/plugged/vim-rhubarb/
nvim/plugged/vim-polyglot/
